html, body { margin: 0; padding: 0; }
img { width: 100%; }
body { position: relative; }
div.btn1 { position: absolute; left: 67.3415%; top: 6.128%; width: 27.859%; height: 1.496%; background-color: rgba(255, 255, 255, 0.01); }
div.btn2 { position: absolute; left: 67.3415%; top: 7.992%; width: 27.859%; height: 1.496%; background-color: rgba(255, 255, 255, 0.01); }
div.btn3 { position: absolute; left: 57.7427%; top: 67.896%; width: 27.859%; height: 1.496%; background-color: rgba(255, 255, 255, 0.01); }
div.btn4 { position: absolute; left: 57.7427%; top: 74.304%; width: 27.859%; height: 1.496%; background-color: rgba(255, 255, 255, 0.01); }
div.btn5 { position: absolute; left: 35.958%; top: 86.712%; width: 27.859%; height: 1.496%; background-color: rgba(255, 255, 255, 0.01); }