{% extends "template.html" %}
{% block method_head %}
<style>
	div.main { display: inline-block; width: 1062px; margin-top: 30px; text-align: left; }
	div.main h1 { font-size: 32px; margin-bottom: 50px; }
	div.main p { font-size: 16px; line-height: 32px; }
	div.main p span { font-size: 20px; font-weight: bold; }
</style>
{% endblock %}
{% block method %}
<div class="main">
	<h1>이용방법</h1>
	<p>
	<span>크리에이타쿠란?</span><br />
	키덜트를 위한 경매 공간입니다.<br /><br />

	<span>어떤 분야의 제품을 취급하나요?</span><br />
	건프라, 아트토이, 드론, 피규어, 미니어쳐, 다이캐스트, 구체관절인형,  <br />
	베이비돌, RC모형, 디오라마 등 키덜트 모든 분야의 소장품을 취급합니다.<br /><br />

	<span>제품은 어떻게 등록하나요?</span><br />
	제품의 사진과 정보를 E-mail을 통해 보내주세요.<br />
	메일 주소 : bingzhek@gmail.com<br />
	메일에 포함되어야 하는 내용<br />
	1. ID<br />
	2. 연락처<br />
	3. 제품명<br />
	4. 작품사진(최소 3장)<br /><br />

	<span>구매는 어떻게 하나요?</span><br />
	경매 기간동안 상시 입찰 가능하며, 즉시구매도 가능합니다.<br />
	낙찰 후 취소가 불가능 하니, 입찰은 신중히 하시기 바랍니다.<br /><br />

	<span>낙찰이 된 이후의 절차는 어떻게 되나요?</span><br />
	낙찰 후, 'MY Page – 낙찰내역'에서 낙찰결과를 확인하실 수 있습니다.<br />
	낙찰자는 경매 후 3일 이내에 낙찰가를 당사로 지불하셔야 합니다.<br />
	</p>
</div>
{% endblock %}