{% extends "template.html" %}
{% block auction_head %}
<style>
	div.header { width: 100%; height: 60px; background-color: white; border-bottom: 1px solid #e0e0e0; }
	div.header div.wrapper { width: 1062px; display: inline-block; text-align: left; }
	div.header div.wrapper div { height: 60px; padding: 0 10px; font-size: 18px; display: inline-block; cursor: pointer; line-height: 54px; color: #484848; border-left: 1px solid transparent; border-right: 1px solid transparent; }
	div.header div.wrapper div:hover { background-color: #f5f5f5; border-bottom: 1px solid #e0e0e0; }
	div.header div.wrapper div.selected { background-color: #f5f5f5; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: none; }
	div.main section { display: inline-block; width: 1062px; margin-top: 30px; }
	div.main div.wrapper { margin: 10px; display: inline-block; cursor: pointer; }
	div.main div.wrapper div.info { text-align: left; background-color: white; padding: 10px; }
	div.main div.wrapper div.info h1 { font-size: 16px; margin: 0; margin-bottom: 10px; }
	div.main div.wrapper div.info p { font-size: 14px; margin: 5px 0; }
	div.main div.wrapper div.info p span { color: #dc2b1c; font-weight: bold; font-size: 16px; }
	div.main article { width: 330px; height: 330px; }
	div.main article.no1 { background: url(/static/img/auctionitem/1.jpg) 0 0 no-repeat transparent; background-size: 100% 100%; }
	div.main article.no2 { background: url(/static/img/auctionitem/2.jpg) 0 0 no-repeat transparent; background-size: 100% 100%; }
	div.main article.no3 { background: url(/static/img/auctionitem/3.jpg) 0 0 no-repeat transparent; background-size: 100% 100%; }
	div.main article.no4 { background: url(/static/img/auctionitem/4.jpg) 0 0 no-repeat transparent; background-size: 100% 100%; }
	div.main article.no5 { background: url(/static/img/auctionitem/5.jpg) 0 0 no-repeat transparent; background-size: 100% 100%; }
	div.main article.no6 { background: url(/static/img/auctionitem/6.jpg) 0 0 no-repeat transparent; background-size: 100% 100%; }
</style>
{% endblock %}
{% block auction %}
<div class="header">
	<div class="wrapper">
		<div class="auction_ing">진행 중인 경매</div><div class="auction_complete selected">완료된 경매</div>
	</div>
</div>
<div class="main">
	<section>
		<div class="wrapper">
			<article class="no1"></article>
			<div class="info">
				<h1>베이비돌 신데렐라 커스텀</h1>
				<p>낙찰가 <span>8,900원</span></p>
				<p>즉구가 10,900원</p>
				<p>입찰자 10</p>
				<p>마감 2016-09-23 10:28:24</p>
			</div>
		</div>
		<div class="wrapper">
			<article class="no2"></article>
			<div class="info">
				<h1>제목입니다.</h1>
				<p>낙찰가 <span>8,900원</span></p>
				<p>즉구가 10,900원</p>
				<p>입찰자 10</p>
				<p>마감 2016-09-23 10:28:24</p>
			</div>
		</div>
		<div class="wrapper">
			<article class="no3"></article>
			<div class="info">
				<h1>제목입니다.</h1>
				<p>낙찰가 <span>8,900원</span></p>
				<p>즉구가 10,900원</p>
				<p>입찰자 10</p>
				<p>마감 2016-09-23 10:28:24</p>
			</div>
		</div>
		<div class="wrapper">
			<article class="no4"></article>
			<div class="info">
				<h1>제목입니다.</h1>
				<p>낙찰가 <span>8,900원</span></p>
				<p>즉구가 10,900원</p>
				<p>입찰자 10</p>
				<p>마감 2016-09-23 10:28:24</p>
			</div>
		</div>
		<div class="wrapper">
			<article class="no5"></article>
			<div class="info">
				<h1>제목입니다.</h1>
				<p>낙찰가 <span>8,900원</span></p>
				<p>즉구가 10,900원</p>
				<p>입찰자 10</p>
				<p>마감 2016-09-23 10:28:24</p>
			</div>
		</div>
		<div class="wrapper">
			<article class="no6"></article>
			<div class="info">
				<h1>제목입니다.</h1>
				<p>낙찰가 <span>8,900원</span></p>
				<p>즉구가 10,900원</p>
				<p>입찰자 10</p>
				<p>마감 2016-09-23 10:28:24</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}