<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>CREATKU :: 나만의 창의적 콜렉팅</title>
	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<link rel='icon' href='/static/img/favicon.ico' type='image/x-icon'/>
	<script src="/static/js/script_desktop.js"></script>
	<link rel="stylesheet" href="/static/css/css_desktop.css" />
</head>
<body>
	<div class="sectionWrapper currentPage1" data-current-page="1">
		<nav class="dotnav">
			<ul>
				<li class="dot dot2" data-page-number="2">서비스 소개</li><li class="dot dot3" data-page-number="3">의뢰 방법</li><li class="dot dot4" data-page-number="4">작품 분야</li><li class="dot dot5" data-page-number="5">사전등록</li><li class="dot dot6" data-page-number="6">작품 의뢰</li>
			</ul>
		</nav>
		<div class="logo"><img src="/static/img/logo4.png" /></div>
		<section class="page page1" data-page-number="1">
			<div class="text2">나만의 창의적 콜렉팅</div>
			<div class="button1">작품의뢰하기</div>
			<div class="button2">사전등록하기</div>
			<div class="logo2"><img src="/static/img/logowhite.png" /></div>
		</section>
		<section class="page page2" data-page-number="2">
			<div class="title">나의 상상 그 이상의 콜렉팅</div>
		</section>
		<section class="page page3" data-page-number="3">
			<div class="title">의뢰는 어떻게 진행되나요?</div>
			<ul class="steps">
				<li class="step1">
					<div><img src="/static/img/stepicon1.png" /></div>
					<div class="text">
						<div class="main">의뢰 요청</div>
						<div class="sub">의뢰 내용을 입력합니다</div>
					</div>
				</li>
				<li class="step2">
					<div><img src="/static/img/stepicon2.png" /></div>
					<div class="text">
						<div class="main">크리에이터 매칭</div>
						<div class="sub">의뢰를 맡아주실 크리에이터분들을<br />안내해드립니다</div>
					</div>
				</li>
				<li class="step3">
					<div><img src="/static/img/stepicon3.png" /></div>
					<div class="text">
						<div class="main">크리에이터 선택</div>
						<div class="sub">나만의 작품을 만들어주실<br />크리에이터를 선택합니다</div>
					</div>
				</li>
			</ul>
		</section>
		<section class="page page4" data-page-number="4">
			<div class="head">어떤 분야를 의뢰할 수 있을까요?</div>
			<div class="sub">건프라를 시작으로 점차<br />분야를 확장할 계획입니다</div>
			<ul class="fields">
				<li class="field large"><div class="image"><img src="/static/img/fieldimg/gundamfirst.png" /></div><div class="title">건프라</div></li>
				<li class="subfield field1"><div class="image"><img src="/static/img/fieldimg/yoda.png" /></div><div class="title">피규어</div></li>
				<li class="subfield field2"><div class="image"><img src="/static/img/fieldimg/drone.png" /></div><div class="title">드론</div></li>
				<li class="subfield field3"><div class="image"><img src="/static/img/fieldimg/bearbrick.png" /></div><div class="title">아트토이</div></li>
				<li class="subfield field4"><div class="image"><img src="/static/img/fieldimg/diorama.png" /></div><div class="title">디오라마</div></li>
				<li class="subfield field5"><div class="image"><img src="/static/img/fieldimg/guche.png" /></div><div class="title">구체관절인형</div></li>
				<li class="subfield field6"><div class="image"><img src="/static/img/fieldimg/rc.png" /></div><div class="title">RC모형</div></li>
				<li class="subfield field7"><div class="image"><img src="/static/img/fieldimg/doll.png" /></div><div class="title">베이비돌</div></li>
				<li class="subfield field8"><div class="image"><img src="/static/img/fieldimg/car.png" /></div><div class="title">다이캐스트</div></li>
				<li class="subfield field9"><div class="image"><img src="/static/img/fieldimg/mini.png" /></div><div class="title">미니어쳐</div></li>
			</ul>
		</section>
		<section class="page page5" data-page-number="5">
			<article class="form_collector">
				<div class="header">선호하는 분야를 입력해주세요.<br />오픈 시 연락드립니다.</div>
				<div class="label">이름</div>
				<div><input type="text" class="name"/></div>
				<div class="label">이메일</div>
				<div><input type="text" class="email"/></div>
				<div class="label">관심분야</div>
				<div><input type="text" class="field"/></div>
				<div class="submit">보내기</div>
				<div class="finished">신청해주셔서 감사합니다 :)</div>
			</article>
			<article class="form_creator">
				<div class="header">크리에이타쿠와 함께할<br />크리에이터를 모집합니다.</div>
				<div class="label">이름</div>
				<div><input type="text" class="name"/></div>
				<div class="label">닉네임</div>
				<div><input type="text" class="nickname"/></div>
				<div class="label">활동분야</div>
				<div><input type="text" class="field"/></div>
				<div class="label">휴대폰번호</div>
				<div><input type="text" class="mobile"/></div>
				<div class="label">이메일</div>
				<div><input type="text" class="email"/></div>
				<div class="submit">보내기</div>
				<div class="finished">신청해주셔서 감사합니다 :)</div>
			</article>
			<div class="divider"></div>
		</section>
		<section class="page page6">
			<div class="form_request">
				<div class="header">작품 의뢰하기</div>
				<form>
					<div class="subheader">* 현재는 건담만 가능합니다</div>
					<div class="label">이름</div>
					<div><input type="text" class="name" name="name" /></div>
					<div class="label">이메일</div>
					<div><input type="text" class="email" name="email" /></div>
					<div class="label">요구사항</div>
					<div><textarea class="requirement" name="requirement"></textarea></div>
					<div class="label">예시 업로드&nbsp;&nbsp;<span>* 원하시는 작례나 애니 장면 등을 첨부해주세요</span></div>
					<div class="inputwrapper"><input type="file" class="file" name="file" /></div>
					<div class="label" style="text-align: center;">아래의 '보내기' 버튼을 누르는 것은 <br />이용약관과 개인정보 처리방침에 동의함을 의미합니다.</div>
					<div class="submit">보내기</div>
				</form>
				<div class="finished">신청해주셔서 감사합니다 :)</div>
			</div>
		</section>
		<section class="page page7 errorfix"></section>
	</div>
</body>
</html>