{% extends 'redesign/template.html' %}
{% block contents %}
<div class="container1200">
	<div class="auction_header clearfix">
		<div class="category_label floatL">Category | </div>
		<div class="floatL">
			<div class="selected clearfix" attr-value="figure">
				<div class="floatL htmlhere">{{ context.category_names[context.category][0] }}<span class="small">&nbsp;{{ context.category_names[context.category][1] }}</span></div>
				<ul class="selectbox disp-none">
				{% for c in context.categories %}
					<li class="option" attr-value="{{ c }}">{{ context.category_names[c][0] }}<span class="small">&nbsp;{{ context.category_names[c][1] }}</span></li>
				{% endfor %}
				</ul>
				<div class="floatL arrowBox">&#9662;</div>
			</div>
		</div>
		<div class="floatR">
			<div>
				<span style="color: #B9B9B9;"><span>PREVIEW</span>| </span>
				<span>12월 21일 ~ 1월 15일</span>
			</div>
			<div>
				<span style="color: #B9B9B9;"><span>AUCTION</span>| </span>
				<span>1월 15일 오후 2시 순차마감</span>
			</div>
		</div>
	</div>
	<div class="auction_search clearfix">
		<span class="auction_search_label floatL">검색결과</span>
		<span class="auction_search_counter_label floatL">| 총 <span class="counter">{{ context['items']|length }}</span> 개</span>
		<input type="text" class="input_search floatL" placeholder="상품명, Lot검색" />
		<div class="btn_search floatL">검색</div>
	</div>
	<script>
	function search(q) {
		var counter = 0;
		$('div.product').each(function() {
			if($(this).find('.lot').text() == q || $(this).find('.name').text().indexOf(q) > -1) {
				counter ++;
				if(counter % 3 == 0) $(this).addClass('nmr');
				else $(this).removeClass('nmr');
				$(this).removeClass('disp-none');
			} else {
				$(this).addClass('disp-none');
			}
		});
		if(counter == 0) {
			$('.auction_products .no-item').removeClass('disp-none');
		} else {
			$('.auction_products .no-item').addClass('disp-none');
		}
		$('div.auction_search span.counter').text(counter);
	}
	$('input.input_search').keypress(function(e) {
		if(e.keyCode == 13) {
			search($(this).val());
			return false;
		}
	});
	$('.btn_search').click(function() {
		search($('input.input_search').val());
	});
	</script>
	<div class="auction_products">
		<div class="no-item {% if context['items'] != [] %}disp-none{% endif %}">
			해당 아이템이 없습니다.
		</div>
		{% for item in context['items'] %}<div class="product {% if loop.index % 3 == 0 %}nmr{% endif %}">
			<a href="/auction/view/{{ loop.index }}/" style="display: block;">
			<div class="photo" >
				<img src="{{ item.small_pic_src }}" />
			</div>
			<div class="nametag clearfix">
				<div class="lot floatL">{{ item.lot }}</div>
				<div class="name floatL">{{ item.name }}</div>
			</div>
			<div class="description">
				{{ item.description | safe }}
			</div>
			<div class="pricetag">
				<div class="startprice">시작가 | {{ item.start_price_str }} KRW</div>
				<div class="pricenow">현재가 | {{ item.current_price_str }} KRW</div>
			</div>
			<a>
			<div class="btn_bid no-select" attr-bid-id="{{ item.id }}" attr-bid-name="LOT.{{ item.lot }} {{ item.name }}" attr-bid-current-price-str="{{ item.current_price_str }}" attr-bid-current-price="{{ item.current_price }}">응찰하기</div>
		</div>{% endfor %}
	</div>
</div>
<script>
$('body').click(function() {
	$('.selected ul').addClass('disp-none');
});
$('.selected').click(function(e) {
	e.stopPropagation();
	$(this).find('ul').removeClass('disp-none');
});
$('.selected .option').click(function() {
	location.href = "/auction/" + $(this).attr('attr-value') + '/';
});
</script>
{% endblock %}