{% extends 'redesign/template.html' %}
{% block contents %}
<div class="container1200">
	<div class="auction_header clearfix">
		<div class="category_label floatL">Category | </div>
		<div class="floatL">
			<div class="selected clearfix" attr-value="figure">
				<div class="floatL htmlhere">{{ context.category_names[context.category][0] }}<span class="small">&nbsp;{{ context.category_names[context.category][1] }}</span></div>
				<ul class="selectbox disp-none">
				{% for c in context.categories %}
					<li class="option" attr-value="{{ c }}">{{ context.category_names[c][0] }}<span class="small">&nbsp;{{ context.category_names[c][1] }}</span></li>
				{% endfor %}
				</ul>
				<div class="floatL arrowBox">&#9662;</div>
			</div>
		</div>
		<div class="floatR">
			<div>
				<span style="color: #B9B9B9;"><span>PREVIEW</span>| </span>
				<span>12월 21일 ~ 1월 15일</span>
			</div>
			<div>
				<span style="color: #B9B9B9;"><span>AUCTION</span>| </span>
				<span>1월 15일 오후 2시 순차마감</span>
			</div>
		</div>
	</div>
	<div class="auction_search clearfix">
		<span class="auction_search_label floatL">검색결과</span>
		<span class="auction_search_counter_label floatL">| 총 <span class="counter">0</span> 개</span>
		<input type="text" class="input_search floatL" placeholder="상품명, Lot검색" />
		<div class="btn_search floatL">검색</div>
	</div>
	<style>
	div.auction_products div.product { width: 380px; margin-right: 30px; display: inline-block; margin-top: 40px; margin-bottom: 80px; }
	div.auction_products div.product div.photo img { width: 380px; }
	div.auction_products div.product div.nametag { margin-top: 20px; }
	div.auction_products div.product div.nametag div.lot { font-size: 38px; line-height: 60px; color: #858585; width: 100px; text-align: center; }
	div.auction_products div.product div.nametag div.name { font-size: 32px; line-height: 40px; color: #2c2c2c; width: 280px; word-break: break-all; font-weight: bold; }
	div.auction_products div.product div.description { width: 380px; font-size: 28px; line-height: 35px; color: #5d5d5d; }
	div.auction_products div.product div.description div { margin: 10px 0; }
	div.auction_products div.product div.pricetag { font-size: 28px; line-height: 40px; color: #2c2c2c; }
	div.auction_products div.product div.btn_bid { width: 380px; height: 60px; line-height: 60px; background-color: #250201; color: white; text-align: center;	font-size: 28px; margin-top: 40px; cursor: pointer; }
	</style>
	<div class="auction_products">
		{% for i in context.categories %}<div class="product {% if loop.index % 3 == 0 %}nmr{% endif %}">
			<a href="/auction/view/{{ loop.index }}/" style="display: block;">
			<div class="photo" >
				<img src="/static/img/redesign_img/auctionlist-item-02.png" />
			</div>
			<div class="nametag clearfix">
				<div class="lot floatL">00{{ loop.index }}</div>
				<div class="name floatL">트랜스포머 옵티머스프라임</div>
			</div>
			<div class="description">
				<div>영화 트랜스포머 옵티머스프라임 장신 피규어</div>
				<div>52x88cm</div>
			</div>
			<div class="pricetag">
				<div class="startprice">시작가 | 1,200,000 KRW</div>
				<div class="pricenow">현재가 | 1,873,000 KRW</div>
			</div>
			<a>
			<div class="btn_bid no-select">응찰하기</div>
		</div>{% endfor %}
	</div>
</div>
<script>
$('body').click(function() {
	$('.selected ul').addClass('disp-none');
});
$('.selected').click(function(e) {
	e.stopPropagation();
	$(this).find('ul').removeClass('disp-none');
});
$('.selected .option').click(function() {
	location.href ="/auction/" + $(this).attr('attr-value') + '/'
});
</script>
{% endblock %}