<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>CREATAKU</title>
		<link rel='icon' href='/static/img/favicon.ico' type='image/x-icon'/>
		<link rel="stylesheet" type="text/css" href="/static/css/redesign/style.css" />
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/js/redesign/script.js"></script>
		<style>
		header { background: url({% block headerbackimg %}/static/img/redesign_img/header-img{{ context.mainimg_id }}.png{% endblock %}) 0 0 no-repeat transparent; background-size: cover; }
		</style>
		<script>
			$bidend = new Date("{{ context.time_end }}");
			$timenow = new Date("{{ context.time_now }}");
		</script>
		{% block head %}
		{% endblock %}
	</head>
	<body id="index">
		{% block header %}
		<header>
			<div class="container1200">
				<nav class="menu_top">
					<a class="logo floatL" href="/"></a>
					{% if context.is_authenticated == False %}
					<a class="login floatR" href="#login">LOGIN</a>
					{% else %}
					<a class="logout floatR" href="{{ url_for('auction_account_logout') }}">LOGOUT</a>
					{% endif %}
					{% if context.is_authenticated %}
					<a class="my floatR" href="/my/">MY</a>
					{% endif %}
					<a class="auction floatR" href="/auction/">AUCTION</a>
				</nav>
				<div class="auction_info">
					<div class="auction_name">
						[01st] <br />
						<b>2016 12 BIDDING CLOSING</b>
					</div>
					<div class="remaining_time">
						<span class="day">00</span><img src="/static/img/redesign_img/dash_big.png" /><span class="hour">00</span><img src="/static/img/redesign_img/dash_small.png" /><span class="minute">00</span><img src="/static/img/redesign_img/dash_small.png" /><span class="second">00</span>
					</div>
					<div class="remaining_time_label">
						<span class="day">DAYS</span><span class="spacing"></span><span class="hour">HOUR</span><span class="spacing"></span><span class="minute">MIN</span><span class="spacing"></span><span class="second">SEC</span>
					</div>
				</div>
			</div>
		</header>
		{% endblock %}
		{% block contents %}
		{% endblock %}
		{% block footer %}
		<div class="container1200 notice">
			<span class="notice_label">공지사항</span>
			<span class="notice_content">1차 경매가 시작되었습니다. 2차 경매품은 2017년 1월 15일 까지 신청받습니다.</span>
		</div>
		<footer>
			<div class="container1200 clearfix">
				<section class="big floatL">
					<div class="footer_logo">
						<img src="/static/img/logo_footer.png" />
					</div>
					<nav class="footer_menu clearfix">
						<a class="terms" href="#"><div class="floatL">서비스약관</div></a>
						<!--
						<div class="floatL">온라인경매약관</div>
						-->
						<a class="privacy" href="#"><div class="floatL">개인정보취급방침</div></a>
						<!--
						<div class="floatL">이메일무단수집거부</div>
						-->
					</nav>
					<div class="text">COPYRIGHT © 2016 36Q CO, LTD<br />ALL RIGHTS RESERVED</div>
					<div class="text">대표이사 : 김병철<br />사업자등록번호 : 782-43-00147<br />통신판매업신고 : 제2016-서울강서-0172호</div>
				</section>
				<section class="small floatL">
					<div class="label">FOLLOW US</div>
					<div class="text">크리에이타쿠 SNS에서 다양한 작품들과 더 많은 아티스트를 만나보세요.</div>
					<div class="sns">
						<a target="_blank" href="https://www.facebook.com/creataku/"><img src="/static/img/redesign_img/sns-fb.png" /></a>
						<a target="_blank" href="https://www.instagram.com/creataku/"><img src="/static/img/redesign_img/sns-insta.png" /></a>
					</div>
				</section>
				<section class="small floatL">
					<div class="label">CONTACT</div>
					<div class="text"><a href="mailto:help@36-q.com">help@36-q.com</a></div>
				</section>
				<section class="small floatL">
					<div class="label">DOWNLOAD</div>
					<div class="text"><a class="noav" href="#na">APP STORE</a></div>
					<div class="text"><a class="noav" href="#na">GOOGLE PLAYSTORE</a></div>
				</section>
			</div>
		</footer>
		{% endblock %}
		<style>
			.popup_input_box { margin: 10px 0; }
			.popup_input_label { width: 120px; text-align: left; font-size: 20px; line-height: 40px; display: inline-block; vertical-align: top; color: #5d5d5d; }
			.popup_input_box input { width: 440px; padding: 5px 20px; height: 30px; border-radius: 2px; line-height: 30px; font-size: 20px; border: 0px none; margin: 0; vertical-align: top;  color: #5d5d5d; }
		</style>
		<div class="pop_login popup_background">
			<div class="vam-wrapper popup_wrapper">
				<div class="login popup_contents">
					<form class="login" method="POST" action="{{ url_for('auction_account_login') }}">
						<div class="popup_header">로그인</div>
						<input type="hidden" name="next" value="{{ next or context.next or '' }}" />
						<input type="hidden" name="validated" value="false" />
						<div class="popup_input_box">
							<span class="popup_input_label">이메일</span><input type="text" name="email" placeholder="이메일 주소를 입력해주세요">
						</div>
						<div class="popup_input_box">
							<span class="popup_input_label">비밀번호</span><input type="password" name="password" placeholder="비밀번호">
						</div>
						<button class="login">로그인</button>
						<a class="switch" style="margin-top: 20px; display: inline-block;" href="#">크리에이타쿠 계정이 없나요?</a>
					</form>
					<form class="signup disp-none" method="POST" action="{{ url_for('auction_account_signup') }}">
						<div class="popup_header">회원가입</div>
						<input type="hidden" name="next" value="{{ next or context.next or '' }}" />
						<input type="hidden" name="validated" value="false" />
						<div class="popup_input_box">
							<span class="popup_input_label">이메일</span><input type="text" name="email" placeholder="이메일 주소를 입력해주세요">
						</div>
						<div class="popup_input_box">
							<span class="popup_input_label">비밀번호</span><input type="password" name="password" placeholder="비밀번호를 입력해 주세요">
						</div>
						<div class="popup_input_box">
							<span class="popup_input_label">비밀번호 확인</span><input type="password" name="password-confirm" placeholder="비밀번호를 한번 더 입력해주세요">
						</div>
						<p style="margin: 20px 0 10px;">회원가입을 하면 크리에이타쿠의 <a class="terms td-ul" href="#">서비스 약관</a>, <a class="privacy td-ul" href="#">개인정보 보호정책</a>에 동의하는 것으로 간주됩니다.</p>
						<button class="signup">회원가입</button>
					</form>
				</div>
			</div>
		</div>
		<div class="pop_bid popup_background">
			<div class="vam-wrapper popup_wrapper">
				<div class="bid popup_contents">
					<form class="bid" action="{{ url_for('auction_bid') }}" method="POST">
						<input type="hidden" name="location" value="{{ context.next }}" />
						<input type="hidden" name="user_id" value="{{ session.user }}" />
						<input type="hidden" name="auc_id" value="" />
						<input type="hidden" name="current_price" value="" />
						<div class="wrapper">
							<div class="popup_header"></div>
							<div class="current_price_box clearfix">
								<div class="current_price_label floatL">현재가</div>
								<div class="current_price_str floatL"></div>
							</div>
							<input type="text" name="price" class="price" placeholder="응찰가를 숫자로만 입력해 주세요" />
							<div class="labelprice">KRW (최소단위: 1,000)</div>
							<div class="submit">응찰하기</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<style>
		div.pop_bid div.current_price_box { font-size: 30px; line-height: 45px; padding: 20px 0 10px; width: 500px; margin: 0 50px; }
		div.pop_bid div.current_price_box div.current_price_str { color: #d54e33; font-size: 36px; line-height: 45px; font-weight: bold; margin-left: 40px; }
		div.pop_bid input.price { width: 460px; margin: 20px 50px 10px; padding: 10px 20px; border: 1px solid #757575; font-size: 30px; line-height: 50px; height: 50px; } 
		div.pop_bid div.labelprice { width: 500px; padding: 0 50px 20px; text-align: right; font-size: 24px; line-height: 30px; }
		</style>
		<div class="pop_terms popup_background">
			<div class="popup_wrapper">
				<div class="popup_contents">
					<div class="popup_header">이용약관</div>
					<div class="scroller400" style="height: 400px; overflow: auto; max-height: 40vh;">
{% include 'redesign/terms.html' %}
					</div>
					<button class="close">닫기</button>
				</div>
			</div>
		</div>
		<div class="pop_privacy popup_background">
			<div class="popup_wrapper">
				<div class="popup_contents">
					<div class="popup_header">개인정보취급방침</div>
					<div class="scroller400" style="height: 400px; overflow: auto; max-height: 40vh;">
{% include 'redesign/privacy.html' %}
					</div>
					<button class="close">닫기</button>
				</div>
			</div>
		</div>
		<div class="pop_flash popup_background">
			<div class="popup_wrapper">
				<div class="popup_contents">
					<div class="popup_header">알림</div>
					<div class="message">{% if context.flash %}{{ context.flash | safe }}{% endif %}</div>
					<button class="close">닫기</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		{% if context.flash %}
			$('div.pop_flash').css('display', 'table');
		{% endif %}
			function showAlert(message) {
				$('div.pop_flash').css('display', 'table');
				$('div.pop_flash div.message').html(message);
			}
			$('div.pop_login').click(function() {
				$(this).find('input[name=email]').val('');
				$(this).find('input[name=password]').val('');
				$(this).find('input[name=password-confirm]').val('');
				$(this).find('form.login').removeClass('disp-none');
				$(this).find('form.signup').addClass('disp-none');
			});
			$('a.terms').click(function() {
				$('div.pop_terms').css("display", 'table');
				return false;
			});
			$('div.pop_terms button').click(function() {
				$('div.pop_terms').css('display', 'none');
			});
			$('a.privacy').click(function() {
				$('div.pop_privacy').css("display", 'table');
				return false;
			});
			$('div.pop_privacy button').click(function() {
				$('div.pop_privacy').css('display', 'none');
			});
			$('div.pop_flash button').click(function() {
				$('div.pop_flash').css('display', 'none');
			});

			$('div.btn_bid').click(function() {
				if("{{ context.is_authenticated }}" == "False") {
					$('div.pop_login').css("display", 'table');
					return false;
				}
				if($(this).hasClass('mine')) {
					showAlert("현재 최고입찰자입니다.");
					return false;
				}
				$('div.pop_bid div.popup_header').text($(this).attr('attr-bid-name'));
				$('div.pop_bid div.current_price_str').text($(this).attr('attr-bid-current-price-str'));
				$('div.pop_bid input[name=current_price]').val($(this).attr('attr-bid-current-price'));
				$('div.pop_bid input[name=auc_id]').val($(this).attr('attr-bid-id'));
				$('div.pop_bid input[name=price]').val('')
				$('div.pop_bid').css("display", 'table');
				$('div.pop_bid input[name=price]').focus();
				return false;
			});
			$('div.pop_bid').click(function() {
				$('div.pop_bid div.popup_header').text('');
				$('div.pop_bid div.current_price_str').text('');
				$('div.pop_bid input[name=current_price]').val('');
				$('div.pop_bid input[name=auc_id]').val('');
			});

			$('div.bid div.submit').click(function() {
				$('form.bid').submit();
			});


			$('div.pop_login a.switch').click(function() {
				$('div.pop_login form.login').addClass('disp-none');
				$('div.pop_login form.signup').removeClass('disp-none');
				return false;
			});
			

			$('div.pop_login form.login').submit(function(e) {
				if($(this).find('input[name=validated]').val() == "false") {
					e.preventDefault();
					$.ajax({
						url: "{{ url_for('auction_account_check_validity') }}",
						type: "POST",
						contentType: 'application/json;chatset=UTF-8',
						data: JSON.stringify({
							email: $('div.pop_login form.login input[name=email]').val(),
							password: $('div.pop_login form.login input[name=password]').val()
						}),
						success: function(ret) {
							if(ret == "NotRegistered")
								showAlert('등록되지 않은 사용자입니다.');
							else if(ret == "WrongPassword")
								showAlert('잘못된 비밀번호입니다.');
							else if(ret == "OK") {
								$('div.pop_login form.login input[name=validated]').val('true');
								$('div.pop_login form.login').submit();
							}
							else
								showAlert('알 수 없는 에러가 발생하였습니다.');
						},
						error: function() {
							showAlert('서버와 통신할 수 없습니다. 잠시 후 다시 시도해 주세요.');
						}
					});
				}
			});
			$('div.pop_login form.login button').click(function(e) {
				e.preventDefault();
				$('div.pop_login form.login').submit();
			});

			$('div.pop_login form.signup').submit(function(e) {
				if($(this).find('input[name=validated]').val() == "false") {
					e.preventDefault();
					$.ajax({
						url: "{{ url_for('auction_account_check_availability') }}",
						type: "POST",
						contentType: 'application/json;chatset=UTF-8',
						data: JSON.stringify({
							email: $('div.pop_login form.signup input[name=email]').val(),
							password: $('div.pop_login form.signup input[name=password]').val(),
							password_confirm: $('div.pop_login form.signup input[name=password-confirm]').val()
						}),
						success: function(ret) {
							if(ret == "PasswordConfirmFailed")
								showAlert('입력한 두 비밀번호가 다릅니다.');
							else if(ret == "AccountExist")
								showAlert('이미 존재하는 이메일 계정입니다.');
							else if(ret == "EmailEmpty")
								showAlert('이메일 주소를 입력해 주세요.');
							else if(ret == "PasswordEmpty")
								showAlert('비밀번호를 입력해 주세요.');
							else if(ret == "OK") {
								$('div.pop_login form.signup input[name=validated]').val('true');
								$('div.pop_login form.signup').submit();
							}
							else
								showAlert('알 수 없는 에러가 발생하였습니다.');
						},
						error: function() {
							showAlert('서버와 통신할 수 없습니다. 잠시 후 다시 시도해 주세요.');
						}
					});
				}
			});
			$('footer a.noav').click(function() {
				showAlert('준비중입니다!');
				return false;
			});
			$('div.pop_login form.signup button').click(function(e) {
				e.preventDefault();
				$('div.pop_login form.signup').submit();
			});
		</script>
	</body>
</html>