36Q(이하 "회사"라 함)가 제공하는 크리에이타쿠 서비스(이하 ‘서비스’라 함)의 이용약관은 다음의 내용을 담고 있습니다.<br />
 <br />
제 1 조 (목적)<br />
본 약관은 회사가 제공하는 서비스의 이용과 절차 등에 관하여 필요한 사항을 규정함을 목적으로 합니다.<br />
본 약관은 PC통신, 스마트폰(안드로이드폰, 아이폰 등) 앱 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다.<br />
<br />
제 2 조 (용어의 정의)<br />
이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br />
(1) 회사가 운영하는 앱 및 사이트(2016.7.26 현재)는 아래와 같습니다.<br />
○ www.creataku.com<br />
○ 추후 회사에서 공지하고 제공하는 기타 앱 및 사이트 포함<br />
(2) 서비스 : 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 회원이 이용할 수 있는 크리에이타쿠의 서비스를 의미합니다. 서비스라 함은 회사가 온라인사이트를 통하여 크리에이터회원과 콜렉터회원간의 의뢰계약체결을 지원하는 아래의 내용을 지칭합니다.<br />
- 콜렉터회원 : 작품 의뢰 요청할 수 있는 방법 제공<br />
- 크리에이터회원 : 콜렉터회원이 요청한 의뢰에 대해 자신의 의견을 피력할 수 있는<br />
방법 및 의견 피력을 위해 제공한 각종자료에 대해 회사의 검토/분석 및 점수화 내용을 공급받을 수 있는 방법 제공<br />
(3) 이용자 : 사이트에 접속하여 이 약관에 따라 회사가 제공하는 서비스를 받는 콜렉터회원과 크리에이터회원 및 비회원을 말합니다.<br />
(4) 회원 : 회사에 개인정보를 제공하여 회원등록을 한 자로서 이 약관에 따라 회사와 서비스이용계약을 체결하고 ID를 부여 받은 자를 말합니다.<br />
(5) 비회원 : 회원에 가입하지 않고 회사가 제공하는 서비스를 이용하는 자를 말합니다.<br />
(6) 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 설정하고 회사가 승인한 회원 본인의 이메일 주소를 말합니다.<br />
(7) 비밀번호(Password) : 회원의 동일성 확인과 회원의 권익 및 비밀보호를 위하여 회원 스스로가 설정하여 회사에 등록한 영문/숫자를 말합니다.<br />
(8) 매칭 : 회사가 콜렉터회원과 크리에이터회원 간에 회원 정보(실명, 연락처 등) 및 의뢰 내용을 교환하는 것을 말한다.<br />
(9) 게시판 : 그 명칭, 형태, 위치와 관계없이 회원 및 비회원 이용자에게 공개할 목적으로 부호•문자•음성•음향•화상•동영상 등의 정보 (이하 "게시물"이라 합니다)를 회원이 게재할 수 있도록 회사가 제공하는 서비스 상의 가상공간을 말합니다<br />
(10) 본 약관에서 정의되지 않은 용어는 관련 법령이 정하는 바에 따르며, 그 외에는 일반적인 상거래관행에 의합니다.<br />
<br />
제 3 조 (약관의 명시와 설명 및 개정)<br />
(1) 회사는 이 약관의 내용과 상호, 업체 주소 등을 이용자가 알 수 있도록 크리에이타쿠 화면에 게시합니다. 다만, 약관의 구체적 내용은 이용자가 연결화면을 통하여 볼 수 있습니다.<br />
(2) 회사는 약관의 규제 등에 관한 법률, 전자상거래 관련법, 전자 서명법, 정보통신망 이용촉진 등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br />
(3) 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이트의 초기화면에 최소 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.<br />
(4) 제3항에 따라 공지된 적용일자 이후에 회원이 회사의 서비스를 계속 이용하는 경우에는 개정된 약관에 동의하는 것으로 봅니다. 개정된 약관에 동의하지 아니하는 회원은 언제든지 자유롭게 서비스 이용계약을 해지할 수 있습니다. 유료서비스를 이용하는 회원이 약관의 개정에 동의하지 아니하여 해지할 경우 회사가 정한 환불정책에 따릅니다.<br />
(5) 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 일반 상관례에 따릅니다.<br />
 <br />
제 4 조 (서비스의 제공 및 변경)<br />
(1) 회사가 제공하는 서비스는 다음과 같습니다<br />
  1. 크리에이터 의뢰연결 정보제공 서비스<br />
  2. 콜렉터 의뢰연결 정보제공 서비스<br />
  3. 크리에이터와 콜렉터 매칭 서비스 <br />
<br />
(2) 회사가 제공하는 서비스의 내용을 기술적 사양의 변경 등의 이유로 변경할 경우에는 그 사유를 이용자에게 통지하거나, 이용자가 알아볼 수 있도록 공지사항으로 게시합니다.<br />
<br />
제 5 조 (이용계약의 성립)<br />
(1) 이용계약은 이용자의 약관 동의, 이용신청, 회사의 승낙에 의하여 성립합니다.<br />
(2) 이용계약의 성립시기는 회사가 가입완료 표시를 신청절차 상에서 표시한 시점으로 합니다.<br />
 <br />
제 6 조 (이용신청 및 승낙)<br />
(1) 이용자는 회사가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.<br />
(2) 회사는 다음 각 호에 해당하는 이용신청에 대하여는 이를 승낙하지 아니 하거나 사후에 이용 계약을 해지할 수 있습니다.<br />
  1. 향후 회사가 실명확인절차를 실시할 경우에 이용자의 실명가입신청이 사실 아님이 확인된 경우<br />
  2. 이미 가입된 회원과 이메일 주소가 동일한 경우<br />
  3. 타인의 명의를 도용하거나, 등록내용에 허위, 기재누락, 오기가 있는 경우<br />
  4. 회사에 의하여 이용계약이 해지된 날로부터 3개월 이내에 재이용 신청을 하는 경우<br />
  5. 가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 회원자격 상실 후 3개월이 경과한 자로서 회사의 회원 재가입 승낙을 얻은 경우에는 예외로 합니다.<br />
  6. 부정한 용도 또는 영리를 추구할 목적으로 본 서비스를 이용하고자 하는 경우<br />
  7. 본 서비스와 경쟁관계에 있는 이용자가 신청하는 경우<br />
  8. 관계법령에 위배되거나 사회질서 혹은 미풍양속을 저해할 수 있는 목적으로 신청한 경우<br />
  9. 회사의 서비스 운영에 따른 설비에 여유가 없거나 기술상 지장이 있는 경우, 단 이 경우 그 사유가 해소될 때까지 이용 승낙을 유보할 수 있습니다.<br />
  10. 기타 이 약관에 위배되거나 위법 또는 부당한 이용신청이 확인된 경우 및 회사가 합리적인 판단에 의하여 필요하다고 인정하는 경우<br />
(3) 회원은 가입신청 시 작성한 이용신청 사항에 변경이 있는 경우, 온라인으로 개인정보를 수정하거나 전자 우편 기타방법으로 회사에 대하여 그 변경 사항을 알려야 합니다. 이를 알리지 않아 발생하는 불이익에 대한 책임은 회원에게 있습니다.<br />
(4) 회사는 회원에 대해 회사정책에 따라 등급별로 구분하여 이용에 차등을 둘 수 있습니다.<br />
 <br />
 제 7 조 (이용계약의 종료)<br />
(1) 회원의 해지<br />
  1. 회원은 언제든지 회사에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다.<br />
  2. 이용계약은 회원의 해지의사가 회사에 도달한 때에 종료 됩니다.<br />
  3. 본 항에 따라 해지를 한 회원은 이 약관이 정하는 회원가입절차와 관련조항에 따라 회원으로 다시 가입할 수 있습니다.<br />
(2) 회사의 해지<br />
  1. 회사는 다음과 같은 사유가 있는 경우, 이용계약을 해지할 수 있습니다. 이 경우 회사는 회원에게 이메일, 전화, 팩스 기타의 방법을 통하여 해지사유를 밝혀 해지의사를 통지합니다. 다만 회사는 해당 회원에게 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다.<br />
① 제5조 제2항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인된 경우<br />
② 회원이 회사나 다른 회원 기타 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하는 행위를 한 경우<br />
③ 기타 회원이 이 약관에 위배되는 행위를 하거나 이 약관에서 정한 해지사유가 발생한 경우<br />
  2. 이용계약은 회사가 해지의사를 회원에게 통지함으로써 종료됩니다. 이 경우 회사가 해지의사를 회원이 등록한 이메일로 발송하거나 회사 게시판에 게시함으로써 통지에 갈음합니다.<br />
  3. 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 회원이 책임을 부담하여야 하고 회사는 일체의 책임을 지지 않습니다.<br />
 <br />
제 8 조 (회원탈퇴 및 자격 상실)<br />
(1) 회원은 회사에 언제든지 탈퇴를 요청할 수 있으며 회사는 회원탈퇴에 관한 규정에 따라 이를 처리합니다.<br />
(2) 회원탈퇴 시 게시물은 모두 삭제됩니다.<br />
(3) 회원이 다음 각 호의 사유에 해당하는 경우, 회사는 회원자격을 제한 및 정지시킬 수 있습니다.<br />
① 가입 신청 시에 허위 내용을 등록한 경우<br />
② 크리에이타쿠 서비스를 이용하여 구입한 재화, 용역 등의 대금, 기타 회사 이용에 관련하여 회원이 부담하는 채무를 기일에 이행하지 않는 경우<br />
③ 다른 사람의 회사 이용을 방해하거나 그 정보를 도용하는 등 전자상거래질서를 위협하는 경우<br />
④ 회사를 이용하여 법령과 이 약관이 금지하거나 공공질서 미풍양속에 반하는 행위를 하는 경우<br />
(4) 회사가 회원자격을 제한, 정지 시킨 후 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 회사는 회원자격을 상실시킬 수 있습니다. 단 회사는 제2항 각 호의 사유에 해당하는 행위를 한 회원에 대하여는 회원자격 상실일로부터 3년간 정보를 보유할 수 있습니다.<br />
(5) 회사가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 제6조 제2항의 2)에 따라 통지하고, 회원등록 말소 전에 소명할 기회를 부여합니다. <br />
<br />
제 9 조 (회원의 게시물)<br />
회원이 작성한 게시물에 대한 모든 권리 및 책임은 이를 게시한 회원에게 있으며, 회사는 회원이 게시하거나 등록하는 서비스의 내용물이 다음 각 항에 해당한다고 판단되는 경우에 사전통지 없이 삭제할 수 있고, 이에 대하여 회사는 어떠한 책임도 지지 않습니다. 만일 위법한 게시물로 인하여 회사가 제3자에 대하여 손해배상금을 지급하게 될 경우(조정, 합의, 판결 불문), 귀책사유 있는 회원은 회사가 제3자에게 배상금을 지급하는 그 즉시 동일 금액 상당을 회사에게 지급하여야 합니다.<br />
  1. 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우<br />
  2. 공공질서 및 미풍양속에 위반되는 내용일 경우<br />
  3. 범죄적 행위에 결부된다고 인정되는 경우<br />
  4. 회사의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br />
  5. 회원이 크리에이타쿠에 음란물을 게재하거나 음란사이트를 링크하는 경우<br />
  6. 회사로부터 사전 승인 받지 아니한 상업광고, 판촉 내용을 게시하는 경우<br />
  7. 기타 관계법령에 위반된다고 판단되는 경우<br />
<br />
<br />
제 10 조 (회원에 대한 통지)<br />
(1) 회사가 회원에 대한 통지를 하는 경우, 회원이 가입신청 시 회사에 제출한 전자우편 주소나 핸드폰 문자메시지, 푸쉬알림(APP PUSH)으로 할 수 있습니다.<br />
(2) 회사는 불특정다수 회원에 대한 통지의 경우, 1주일 이상 크리에이타쿠에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래에 관하여 중대한 영향을 미치는 사항에 대하여는 개별 통지합니다.<br />
<br />
<br />
제 11 조 (개인정보보호)<br />
(1) 회사는 이용자의 회원가입 시 서비스 제공에 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다.<br />
  1.이메일주소<br />
  2.비밀번호<br />
  3.휴대폰 번호<br />
<br />
(2) 회사가 이용자의 개인식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.<br />
(3) 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공하지 않습니다. 다만, 다음의 경우에는 예외로 합니다.<br />
  1. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br />
  2. 도용방지를 위하여 본인확인에 필요한 경우<br />
  3. 법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우<br />
<br />
(4) 회사가 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은 자, 제공목적 및 제공할 정보의 내용) 등 정보통신망이용촉진 등에 관한 법률 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.<br />
(5) 회사는 이용자의 개인정보를 보호하기 위해 “개인정보취급방침”을 수립하고 개인정보보호책임자를 지정하여 이를 게시하고 운영합니다.<br />
(6) 이용자는 언제든지 회사가 갖고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 회사는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 회사는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.<br />
(7) 회사 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다. 다만, 아래의 경우에는 회원 정보를 보관합니다. 이 경우 회사는 보관하고 있는 회원 정보를 그 보관의 목적으로만 이용합니다.<br />
<br />
  1. 상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 회원 정보를 보관합니다.<br />
  2. 회사가 이용계약을 해지하거나 회사로부터 서비스 이용정지조치를 받은 회원에 대해서는 재가입에 대한 승낙거부사유가 존재하는지 여부를 확인하기 위한 목적으로 이용계약종료 후 5년간 아이디, 전화번호를 비롯하여 이용계약 해지와 서비스 이용정지와 관련된 정보 등의 필요정보를 보관합니다.<br />
<br />
(8) 모든 이용자는 크리에이타쿠로부터 제공 받은 정보를 다른 목적으로 이용하거나 타인에게 유출 또는 제공해서는 안되며, 위반 사용으로 인한 모든 책임을 부담해야 합니다. 또한 회원은 자신의 개인정보를 책임 있게 관리하여 타인이 회원의 개인정보를 부정하게 이용하지 않도록 해야 합니다<br />
(9) 회사는 회원의 개인정보를 보호하기 위하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계 법령에서 정하는 바를 준수합니다.<br />
(10) 회사는 개인정보취급방침에 따라 회원의 개인정보를 최대한 보호하기 위하여 노력합니다.<br />
<br />
제 12 조 (크리에이터 매칭 등에 관한 정보제공 서비스)<br />
<br />
(1) 회사는 크리에이타쿠 인터넷 사이트 및 모바일 애플리케이션 내에서 제공하는 모든 정보에 대해서 정확성이나 신뢰성이 있는 정보를 제공하기 위해 노력하지만, 그 과정에서 발생할 수 있는 정보의 정확성이나 신뢰성에 대해서는 어떠한 보증도 하지 않으며, 정보의 오류로 인해 발생하는 모든 직접, 파생적, 징벌적, 부수적인 손해에 대해 책임을 지지 않습니다. 회사는 크리에이타쿠 인터넷 사이트 및 모바일 애플리케이션을 통해 제공되는 정보의 내용을 수정할 의무를 지지 않으나, 필요에 따라 개선할 수는 있습니다.<br />
<br />
제 13 조 (정보의 제공 및 광고의 게재)<br />
<br />
(1) 회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 서비스 내 공지사항, 서비스 화면, 전자우편, 서신우편, SMS 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원은 관련법에 따른 거래관련 정보 및 고객문의 등에 대한 답변 등을 제외하고는 언제든지 위 정보제공에 대해서 수신 거절을 할 수 있습니다.<br />
(2) 회사는 서비스의 운영과 관련하여 회사가 제공하는 서비스의 화면 및 홈페이지 등에 광고를 게재할 수 있습니다.<br />
 <br />
제 14 조 (회사의 의무)<br />
(1) 회사는 법령과 이 약관이 금지하거나 공공질서 미풍양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화, 용역을 제공하는데 최선을 다하여야 합니다.<br />
(2) 회사는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.<br />
(3) 회사는 관계 법령이 정한 의무사항을 준수합니다.<br />
<br />
제 15 조 (회원의 ID 및 비밀번호에 대한 의무)<br />
(1) ID와 비밀번호에 관한 관리책임은 회원에게 있으며, 이를 소홀히 하여 발생한 모든 민형사상의 책임은 회원 자신에게 있습니다.<br />
(2) 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.<br />
(3) 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 회사에 통보하고 회사의 조치가 있는 경우에는 그에 따라야 합니다.<br />
(4) 회원이 제3항에 따른 통지를 하지 않거나 회사의 조치에 응하지 아니하여 발생하는 모든 불이익에 대한 책임은 회원에게 있습니다.<br />
 <br />
제 16 조 (회원, 이용자의 의무)<br />
(1) 회원은 관계법령, 이 약관의 규정, 이용안내 등 회사가 통지하는 사항을 준수하여야 하며, 기타 회사 업무에 방해되는 행위를 하여서는 안 됩니다.<br />
(2) 회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안 됩니다.<br />
① 서비스 신청 또는 변경 시 허위내용의 등록<br />
② 회사에 게시된 정보의 허가 받지 않은 변경<br />
③ 회사가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시<br />
④ 회사 기타 제3자의 저작권 등 지적 재산권에 대한 침해<br />
⑤ 회사 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br />
⑥ 외설 또는 폭력적인 메시지, 화상, 음성 기타 공공질서 미풍양속에 반하는 정보를 회사에 공개 또는 게시하는 행위<br />
기타 관계 법령이나 회사에서 정한 규정에 위배되는 행위<br />
(3) 회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지할 수 있는 모든 권한을 갖고 있습니다. 회사는 회사 정책에 위반한 행동을 하는 특정 회원의 ID를 삭제할 수 있고, 이용 중지 등의 모든 서비스 제한 조치를 이용자에게 통보 없이 직권으로 할 수 있습니다.<br />
(4) 회사는 회사의 정책에 따라서 회원 간의 차별화된 유료 서비스를 언제든지 제공할 수 있습니다. 만약 회원이 비용을 지불하지 않고 사용을 할 경우 회사는 특정 회원에게 서비스 중지 및 특정 서비스 제한을 할 수 있습니다.<br />
<br />
제 17 조  (개별 서비스에 대한 약관 및 이용조건)<br />
회사는 제공하는 서비스의 구체적 내용에 따라 개별 서비스에 대한 약관 및 이용조건을 각 개별서비스마다 별도로 정하여 회원의 동의를 얻을 수 있습니다. 이 경우 개별 서비스에 대한 이용약관 등이 본 약관에 우선합니다.<br />
 <br />
제 18 조 (서비스 이용시간)<br />
서비스의 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 다만 정기 점검 등의 필요로 회사가 정한 날이나 시간은 제외됩니다.<br />
 <br />
 제 19 조 (서비스 이용책임)<br />
회원은 회사가 서명한 명시적인 서면에 구체적으로 허용한 경우를 제외하고는 서비스를 이용하여 상품을 판매하는 영업활동을 할 수 없으며 특히 해킹, 돈벌이 광고, 음란 사이트 등을 통한 상업행위, 상용S/W 불법 배포 등을 할 수 없습니다. 이를 어겨 발생한 영업활동의 결과 및 손실, 관계 기관에 의한 법적 조치 등에 관해서는 회사가 책임을 지지 않습니다. 만일 회원의 위반행위로 인하여 회사에게 손해(민사, 형사, 행정 등 일체의 불이익 포함)가 발생한 경우, 당해 회원은 회사에게 회사가 입은 손해에 상응하는 배상을 하여야 합니다.<br />
 <br />
제 20 조 (서비스 제공의 중지)<br />
(1) 회사는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수 있습니다.<br />
  1. 서비스용 설비의 보수 등 공사로 인한 부득이한 경우<br />
  2. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우<br />
  3. 기타 불가항력적 사유가 있는 경우<br />
(2) 회사는 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 때에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.<br />
<br />
제 21 조 (저작권의 귀속 및 이용제한)<br />
(1) 서비스에 대한 저작권 및 지적재산권은 회사에 귀속됩니다. 단, 회원이 크리에이타쿠를 이용하여 작성한 저작물에 대한 저작권은 해당 회원에게 귀속됩니다.<br />
(2) 이용자는 서비스를 이용함으로써 얻은 정보 중 회사에게 지적재산권이 귀속된 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.<br />
<br />
<br />
제 22 조 (책임의 한계 등)<br />
(1) 회사는 콜렉터가 원하는 경우 이용자의 편의를 위해 크리에이터를 콜렉터에게 추천할 수 있습니다.<br />
(2) 콜렉터가 회사가 추천한 크리에이터를 이용할지 여부는 전적으로 이용자 스스로의 판단에 따라 결정하는 것으로 회사는 이용자가 해당 크리에이터를 이용하여 발생하는 모든 직접, 파생적, 징벌적, 부수적인 손해에 대해 책임을 지지 않습니다.<br />
(3) 회사는 무료로 제공하는 정보 및 서비스에 관하여 개인정보취급방침 또는 관계법령의 벌칙, 과태료 규정 등 강행규정에 위배되지 않는 한 원칙적으로 손해를 배상할 책임이 없습니다.<br />
(4) 회사는 천재지변, 불가항력, 서비스용 설비의 보수, 교체, 점검, 공사 등 기타 이에 준하는 사항으로 정보 및 서비스를 제공할 수 없는 경우에 이에 대한 책임이 면제됩니다.<br />
(5) 회사는 이용자의 귀책사유로 인한 정보 및 서비스 이용의 장애에 관한 책임을 지지 않습니다.<br />
(6) 회사는 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.<br />
<br />
제 23 조 (면책 조항)<br />
(1) 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.<br />
(2) 회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.<br />
(3) 회사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.<br />
(4) 회사는 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관해서는 책임을 지지 않습니다.<br />
(5) 회원이 발송한 메일 내용에 대한 법적인 책임은 사용자에게 있습니다.<br />
<br />
제 24 조 (손해배상 등)<br />
(1) 회사는 회원이 서비스를 이용함에 있어 회사의 고의 또는 과실로 인해 손해가 발생한 경우에는 민법 등 관련 법령이 규율하는 범위 내에서 그 손해를 배상합니다.<br />
(2) 회원이 이 약관을 위반하거나 관계 법령을 위반하여 회사에 손해가 발생한 경우에는 회사에 그 손해를 배상하여야 합니다.<br />
(3) 회원이 이 약관을 위반하거나 관계 법령을 위반하여 제3자가 회사를 상대로 민형사상의 법적 조치를 취하는 경우에는 회원은 자신의 비용과 책임으로 회사를 면책시켜야 하며, 이로 인해 발생하는 손해에 대해 배상하여야 합니다.<br />
<br />
제 25 조 (분쟁해결)<br />
(1) 회사는 이용자 상호간 분쟁에서 발생하는 문제에 대해서 일체의 책임을 지지 않습니다. 이용자 상호간 분쟁은 당사자간에 직접 해결해야 합니다.<br />
(2) 이용자 상호간에 서비스 이용과 관련하여 발생한 분쟁에 대해 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.<br />
<br />
제 26 조 (재판권 및 준거법)<br />
(1) 회사와 회원간 제기된 소송은 대한민국법을 준거법으로 합니다.<br />
(2) 회사와 회원간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.<br />
 <br />
부 칙<br />
이 약관은 2016년 07월26일부터 적용됩니다.<br />